.venv 
/.venv/
/.venv/*
.ipynb_checkpoints
./.ipynb_checkpoints/*
data_generation/sustainability_pdfs/results/final/all_data_combined.json
data_generation/sustainability_pdfs/results/final/final_results.json
data_generation/sustainability_pdfs/results/final/train_data.json
